---
title: "Alerta de Suscripcion"
bodyClass: bg-slate-200
---
<x-main>
    <table class="mx-auto font-sans">
        <tr>
            <td class="w-[600px] font-sans rounded-xl bg-white">
                <!-- Imagen -->
            <x-sinimLogo />
            <!-- Contenido -->
            <div class="w-full text-left text-black">
                <div class="p-8 space-y-0 font-sans">
                    <div class="text-xs text-gray-500">@{{type}}</div>
                    <div class="pb-3 text-2xl font-bold text-black">@{{title}}</div>
                    <img src="{{imageUrl}}" alt="" class="object-cover w-full h-80">
                    <div class="py-3 text-base text-black">@{{description}}</div>
                    <div>Atentamente,<br><span class="font-bold">SINIM Prodominicana</span></div>
                    </div>
                    
                </div>
                
            </div>
            <!-- Footer -->
            <x-footer />
                </td>
            </tr>
        </table>
    
        
    
    
    
</x-main>