---
title: "Suscripcion"
bodyClass: bg-slate-200
---
<x-main>
    <table class="mx-auto font-sans">
        <tr>
            <td class="w-[600px] font-sans rounded-xl bg-white">
                <!-- Imagen -->
            <x-sinimLogo />
            <!-- Contenido -->
            <div class="w-full text-left text-black">
                <div class="p-8 font-sans">
                    <p>
                        Hola @{{name}}, 
                    </p>
                    <p>
                        ¡Gracias por unirte a SINIM, tu compañero en el mundo de las alertas comerciales! Estamos emocionados de tenerte a bordo y esperamos que disfrutes de todas las oportunidades que te brindamos.
                    </p>
                    <p>
                        En SINIM, nos dedicamos a proporcionarte información valiosa y relevante sobre el comercio internacional.
                    </p>
                    <p>Tus preferencias:</p>
                    <div class="w-full rounded-xl bg-navy">
                        <div class="p-4">
                            @{{#if products}}
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="font-sans text-xl font-semibold text-white">Productos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-sans text-xs font-normal text-white">
                                            @{{#each products}}
                                            <div class="relative rounded-full inline-block select-none whitespace-nowrap bg-white/30 py-2 px-3.5 align-middle font-sans text-xs mt-px font-normal text-center text-white">
                                                @{{name}}
                                            </div>
                                            @{{/each}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @{{/if}}
                            @{{#if countries}}
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="font-sans text-xl font-semibold text-white">Países</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-sans text-xs font-normal text-white">
                                            @{{#each countries}}
                                            <div class="relative rounded-full inline-block select-none whitespace-nowrap bg-white/30 py-2 px-3.5 align-middle font-sans text-xs mt-px font-normal text-center text-white">
                                                @{{name}}
                                            </div>
                                            @{{/each}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @{{/if}}
                        </div>
                    </div>
                    <p>Atentamente,<br><span class="font-bold">SINIM Prodominicana</span></p>
                    </div>
                    
                </div>
                
            </div>
            <!-- Footer -->
            <x-footer />
                </td>
            </tr>
        </table>
    
        
    
    
    
</x-main>